/* https://color.adobe.com/pt/Sunshine-over-glacier-color-theme-9917907/ */
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Telex');
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*  NAV  */
.cabecalho{
	width: 100%;
	display:block;
	background-color: #004056;
	margin: -2% -2% 2% -1%;
	padding: 1% 1%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
}
.cabecalho h1{
	color:#fff;
	font-family: 'Telex', sans-serif;
	font-size: 30pt;
	padding-bottom: 2%;
}
.cabecalho a{
	text-decoration: none;
	color: #fff;
}
.barra-menu{
	margin-left:60%;
}
.barra-menu ul{
	text-transform:Uppercase;
	margin-top: -15%;
	margin-bottom: 3%;
}
.barra-menu li{
	padding: 3%;
}
.menu:hover{
	color:#000;
	border: 2px solid #2C858D;
	background-color: #74CEB7;
	border-radius:5%;
	
}
.menu{
	display: inline;
	font-size: 14pt;
}
/*  CORPO  */
body{
	background-color: #fff;
	font-family: 'Roboto', sans-serif;
	color:#fff;
}
.container{
	margin-top:5%;
	background-color: #cecece;
	margin-right: auto;
	margin-left: auto; 
	width: 80%;
	color:#000;
}
/*  SECTIONS  */
#sessaoj{
	width: 1066px;
	height: 230px;
	text-align: center;
	background:url(../img/section1.jpg) no-repeat;
	color:#fff;
	padding-top: 15px;
}
#sessaoj h2{
	text-align: center;
	text-transform:Uppercase;
}
.button{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 40px;
    border: 1px solid #000;
    border-radius: 8px;
    background: #004056;
    text-shadow: #000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 20px;
}
.button:hover{
	color:#C9FFD5;
	border:2px solid #000;
	background:#2C858D;
    text-shadow: #000 1px 1px 1px;
}
.button1{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 10px 45px;
    border: 1px solid #000;
    border-radius: 8px;
    background: #004056;
    text-shadow: #000 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
    margin-top: 40px;
    margin-left: 25px;
}
.button1:hover{
	color:#C9FFD5;
	border:2px solid #000;
	background:#2C858D;
    text-shadow: #000 1px 1px 1px;
}